In [1]:
import numpy as np
import pandas as pd

In [2]:
#training_data = np.loadtxt("0000000000013599_training_train.csv", delimiter = ",")
training_data = pd.read_csv("0000000000013599_training_train.csv", delimiter = ",")

#training_data.shape
training_data.head()

,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
0,Luxembourg,2006,Developed,85.0,0,11.98,15345.490700,95.0,8,57.5,...,7.75,99.0,0.1,89739.711700,472637.0,0.9,0.9,0.880,13.5,79.4
1,Barbados,2003,Developing,121.0,0,7.65,13.513992,91.0,0,45.4,...,5.82,89.0,0.4,1228.544700,NaN,4.1,4.1,0.753,14.2,73.7
2,Vanuatu,2006,Developing,161.0,0,1.00,43.197808,59.0,0,45.7,...,3.96,68.0,0.1,247.978230,214634.0,1.6,1.5,0.572,10.6,71.0
3,Nigeria,2012,Developing,374.0,505,8.54,204.718626,42.0,6447,23.5,...,3.30,42.0,4.4,2755.297787,167297284.0,1.7,1.6,0.507,9.7,52.7
4,Sri Lanka,2008,Developing,172.0,4,2.10,17.814243,98.0,33,18.5,...,3.44,98.0,0.1,254.489192,19817.0,15.4,15.4,0.731,13.3,72.3

In [61]:
#testing_data = np.genfromtxt("0000000000013599_test_test.csv", delimiter = ",")
testing_data = pd.read_csv("0000000000013599_test_test.csv", delimiter = ",", header = None)

testing_data.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,United States of America,2012,Developed,16.0,24,8.82,0.000000,9.0,55,68.0,...,93.0,17.20,94.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN
1,Fiji,2000,Developing,221.0,0,2.05,31.258346,98.0,0,5.2,...,91.0,3.87,9.0,0.1,276.133800,811223.0,4.3,4.0,0.681,13.1
2,Haiti,2009,Developing,251.0,16,5.85,41.300795,NaN,0,43.0,...,65.0,6.68,65.0,2.0,668.297646,985287.0,4.1,4.1,0.466,8.5
3,Turkey,2006,Developing,126.0,28,1.29,103.523776,82.0,34,58.5,...,9.0,5.81,9.0,0.1,834.869161,6876345.0,5.0,4.8,0.687,11.9
4,Niger,2011,Developing,241.0,50,0.15,32.224934,75.0,771,17.7,...,4.0,6.66,75.0,0.7,375.581987,1764636.0,1.5,1.3,0.323,4.8

### **Using the inbuilt Gradient Booster**

In [109]:
data = training_data.copy()
data.describe()

,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
count,2056.000000,2049.000000,2056.000000,1926.000000,2056.000000,1667.000000,2056.000000,2032.000000,2056.000000,2042.000000,1898.000000,2042.000000,2056.000000,1747.000000,1.597000e+03,2032.000000,2032.000000,1926.000000,1930.000000,2049.000000
mean,2007.585603,164.942411,31.102626,4.595649,773.821552,80.880624,2480.392996,38.097392,43.427529,82.686582,5.944110,82.439275,1.761235,7641.934948,1.381755e+07,4.839272,4.864518,0.629496,11.997617,69.105515
std,4.581723,125.240848,117.538355,4.073568,2077.927601,24.770922,11519.573458,19.908848,160.146045,23.159158,2.503782,23.423450,5.080238,14591.718979,6.379807e+07,4.362030,4.459608,0.208939,3.399016,9.632250
min,2000.000000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.400000,0.000000,3.000000,0.650000,3.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000,36.300000
25%,2004.000000,73.000000,0.000000,0.802500,5.643971,76.000000,0.000000,19.475000,0.000000,78.000000,4.250000,78.000000,0.100000,472.454981,1.931750e+05,1.600000,1.500000,0.494000,10.000000,62.900000
50%,2008.000000,143.000000,3.000000,3.770000,69.399296,92.000000,18.000000,43.050000,4.000000,93.000000,5.740000,93.000000,0.100000,1821.878734,1.428588e+06,3.400000,3.400000,0.677000,12.300000,72.000000
75%,2012.000000,229.000000,23.000000,7.707500,450.021056,96.000000,372.000000,55.800000,30.250000,97.000000,7.530000,97.000000,0.800000,5869.338446,7.755785e+06,7.200000,7.200000,0.779000,14.300000,75.700000
max,2015.000000,717.000000,1800.000000,17.870000,19479.911610,99.000000,182485.000000,87.300000,2400.000000,99.000000,17.240000,99.000000,50.600000,119172.741800,1.179681e+09,27.500000,28.500000,0.948000,20.700000,89.000000

In [110]:
data["Hepatitis B"].fillna( method ='ffill', inplace = True)
data["Alcohol"].fillna( method ='ffill', inplace = True)
data["Adult Mortality"].fillna( method ='ffill', inplace = True)
data["Polio"].fillna( method ='ffill', inplace = True)
data["Total expenditure"].fillna( method ='ffill', inplace = True)
data["GDP"].fillna( method ='ffill', inplace = True)
data["Population"].fillna( method ='ffill', inplace = True)
data["Schooling"].fillna( method ='ffill', inplace = True)
data["Income composition of resources"].fillna( method ='ffill', inplace = True)
data["Life expectancy "].fillna( method ='ffill', inplace = True)
data["Diphtheria "].fillna( method ='ffill', inplace = True)
data[" thinness 5-9 years"].fillna( method ='ffill', inplace = True)
data[" thinness  1-19 years"].fillna( method ='ffill', inplace = True)
data[" BMI "].fillna( method ='ffill', inplace = True)
data.describe()

,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
count,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2.056000e+03,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000
mean,2007.585603,165.078794,31.102626,4.572583,773.821552,81.464981,2480.392996,38.188278,43.427529,82.736868,5.983594,82.429961,1.761235,7750.957830,1.448877e+07,4.826994,4.851848,0.627682,11.989835,69.107442
std,4.581723,125.177976,117.538355,4.057397,2077.927601,24.082699,11519.573458,19.882646,160.146045,23.108552,2.534554,23.432067,5.080238,14926.086256,7.215799e+07,4.348639,4.445245,0.210435,3.392906,9.635777
min,2000.000000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.400000,0.000000,3.000000,0.650000,3.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000,36.300000
25%,2004.000000,73.000000,0.000000,0.760000,5.643971,77.000000,0.000000,19.575000,0.000000,78.000000,4.260000,78.000000,0.100000,459.084693,1.827338e+05,1.600000,1.500000,0.491750,10.000000,62.900000
50%,2008.000000,143.000000,3.000000,3.775000,69.399296,92.000000,18.000000,43.300000,4.000000,93.000000,5.790000,93.000000,0.100000,1764.394683,1.391756e+06,3.400000,3.400000,0.675000,12.300000,72.000000
75%,2012.000000,231.250000,23.000000,7.680000,450.021056,97.000000,372.000000,55.800000,30.250000,97.000000,7.572500,97.000000,0.800000,5918.198980,7.486091e+06,7.200000,7.200000,0.779000,14.300000,75.700000
max,2015.000000,717.000000,1800.000000,17.870000,19479.911610,99.000000,182485.000000,87.300000,2400.000000,99.000000,17.240000,99.000000,50.600000,119172.741800,1.179681e+09,27.500000,28.500000,0.948000,20.700000,89.000000

In [111]:
y = data["Life expectancy "]
data = data.drop(["Country", "Status", "Life expectancy "], axis=1)
data.head()

,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,2006,85.0,0,11.98,15345.490700,95.0,8,57.5,0,99.0,7.75,99.0,0.1,89739.711700,472637.0,0.9,0.9,0.880,13.5
1,2003,121.0,0,7.65,13.513992,91.0,0,45.4,0,9.0,5.82,89.0,0.4,1228.544700,472637.0,4.1,4.1,0.753,14.2
2,2006,161.0,0,1.00,43.197808,59.0,0,45.7,0,67.0,3.96,68.0,0.1,247.978230,214634.0,1.6,1.5,0.572,10.6
3,2012,374.0,505,8.54,204.718626,42.0,6447,23.5,788,42.0,3.30,42.0,4.4,2755.297787,167297284.0,1.7,1.6,0.507,9.7
4,2008,172.0,4,2.10,17.814243,98.0,33,18.5,4,98.0,3.44,98.0,0.1,254.489192,19817.0,15.4,15.4,0.731,13.3

In [112]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df_norm = pd.DataFrame(scaler.fit_transform(data), columns = data.columns)
df_norm.columns = data.columns
df_norm

,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,0.400000,0.117318,0.000000,0.670213,0.787760,0.959184,0.000044,0.653085,0.000000,1.000000,0.427969,1.000000,0.000000,0.753019,0.000401,0.029197,0.028169,0.928270,0.652174
1,0.200000,0.167598,0.000000,0.427772,0.000694,0.918367,0.000000,0.512224,0.000000,0.062500,0.311634,0.895833,0.005941,0.010295,0.000401,0.145985,0.140845,0.794304,0.685990
2,0.400000,0.223464,0.000000,0.055431,0.002218,0.591837,0.000000,0.515716,0.000000,0.666667,0.199518,0.677083,0.000000,0.002067,0.000182,0.054745,0.049296,0.603376,0.512077
3,0.800000,0.520950,0.280556,0.477604,0.010509,0.418367,0.035329,0.257276,0.328333,0.406250,0.159735,0.406250,0.085149,0.023106,0.141816,0.058394,0.052817,0.534810,0.468599
4,0.533333,0.238827,0.002222,0.117021,0.000914,0.989796,0.000181,0.199069,0.001667,0.989583,0.168174,0.989583,0.000000,0.002121,0.000017,0.558394,0.538732,0.771097,0.642512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2051,0.733333,0.223464,0.001111,0.027436,0.000140,0.673469,0.004181,0.167637,0.001250,0.656250,0.006631,0.666667,0.000000,0.000947,0.000959,0.408759,0.397887,0.640295,0.603865
2052,1.000000,0.210894,0.003333,0.027436,0.000000,0.816327,0.000000,0.669383,0.002917,0.875000,0.006631,0.854167,0.003960,0.054265,0.001296,0.116788,0.109155,0.757384,0.637681
2053,0.000000,0.106145,0.001667,0.547032,0.001617,0.948980,0.007984,0.623981,0.001250,0.979167,0.437613,0.875000,0.000000,0.002094,0.004827,0.014599,0.014085,0.868143,0.714976
2054,0.733333,0.458101,0.028333,0.000000,0.000000,0.948980,0.094791,0.244470,0.034167,0.479167,0.437613,0.395833,0.013861,0.002094,0.004827,0.248175,0.232394,0.868143,0.714976
2055,0.600000,0.128492,0.137778,0.272676,0.002581,1.000000,0.287481,0.301513,0.120000,1.000000,0.310428,1.000000,0.000000,0.032195,0.000113,0.156934,0.130282,0.719409,0.589372

In [113]:
df_norm.describe()

,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000
mean,0.505707,0.229160,0.017279,0.255464,0.039724,0.821071,0.013592,0.428269,0.018095,0.830592,0.321495,0.827395,0.032896,0.065026,0.012282,0.172518,0.167319,0.662112,0.579219
std,0.305448,0.174830,0.065299,0.227178,0.106670,0.245742,0.063126,0.231463,0.066728,0.240714,0.152776,0.244084,0.100599,0.125249,0.061167,0.158709,0.156523,0.221978,0.163909
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.266667,0.100559,0.000000,0.041993,0.000290,0.775510,0.000000,0.211583,0.000000,0.781250,0.217601,0.781250,0.000000,0.003838,0.000155,0.054745,0.049296,0.518724,0.483092
50%,0.533333,0.198324,0.001667,0.210806,0.003563,0.928571,0.000099,0.487776,0.001667,0.937500,0.309825,0.937500,0.000000,0.014791,0.001180,0.120438,0.116197,0.712025,0.594203
75%,0.800000,0.321578,0.012778,0.429451,0.023102,0.979592,0.002039,0.633295,0.012604,0.979167,0.417269,0.979167,0.013861,0.049647,0.006346,0.259124,0.250000,0.821730,0.690821
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [114]:
from sklearn.model_selection import train_test_split

x = df_norm
#y = training_data["Life expectancy "]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 42)

In [115]:
y.describe()

count    2056.000000
mean       69.107442
std         9.635777
min        36.300000
25%        62.900000
50%        72.000000
75%        75.700000
max        89.000000
Name: Life expectancy , dtype: float64

In [116]:
x.shape, y.shape

((2056, 19), (2056,))

In [117]:
from sklearn.ensemble import GradientBoostingRegressor
model = GradientBoostingRegressor()

model.fit(x_train,y_train)

GradientBoostingRegressor()

In [118]:
y_pred = model.predict(x_test)
#y_pred

In [119]:
from sklearn.metrics import classification_report

print(model.score(x_train, y_train))
print(model.score(x_test, y_pred))

0.9621383216121102
1.0

In [121]:
test = testing_data.copy()
test["Life expectancy "] = 0
test.columns = training_data.columns
test.head()

,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
0,United States of America,2012,Developed,16.0,24,8.82,0.000000,9.0,55,68.0,...,17.20,94.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,0
1,Fiji,2000,Developing,221.0,0,2.05,31.258346,98.0,0,5.2,...,3.87,9.0,0.1,276.133800,811223.0,4.3,4.0,0.681,13.1,0
2,Haiti,2009,Developing,251.0,16,5.85,41.300795,NaN,0,43.0,...,6.68,65.0,2.0,668.297646,985287.0,4.1,4.1,0.466,8.5,0
3,Turkey,2006,Developing,126.0,28,1.29,103.523776,82.0,34,58.5,...,5.81,9.0,0.1,834.869161,6876345.0,5.0,4.8,0.687,11.9,0
4,Niger,2011,Developing,241.0,50,0.15,32.224934,75.0,771,17.7,...,6.66,75.0,0.7,375.581987,1764636.0,1.5,1.3,0.323,4.8,0

In [128]:
test.drop(["Life expectancy "], axis = 1, inplace = True)
test.describe()

,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,881.000000,8.810000e+02,882.000000,882.000000,881.000000,881.000000
mean,2007.362812,164.197279,28.442177,4.554649,655.334688,80.580499,2277.861678,38.829252,38.791383,82.261905,5.906020,82.085034,1.697506,7233.635033,1.232042e+07,4.858730,4.900907,0.620454,11.936322
std,4.686772,122.036157,118.872501,3.999232,1758.631436,26.101800,11349.650108,20.331346,161.185934,23.999633,2.510497,24.344403,5.074661,14111.942912,7.775354e+07,4.555131,4.624531,0.216202,3.297475
min,2000.000000,1.000000,0.000000,0.010000,0.000000,2.000000,0.000000,1.000000,0.000000,3.000000,0.370000,2.000000,0.100000,3.685949,1.230000e+02,0.100000,0.100000,0.000000,0.000000
25%,2003.000000,77.000000,0.000000,0.960000,2.280943,77.000000,0.000000,19.000000,0.000000,78.000000,4.262500,78.000000,0.100000,422.146157,1.891940e+05,1.600000,1.600000,0.487000,10.100000
50%,2007.000000,144.000000,3.000000,3.615000,60.078888,93.000000,12.000000,44.150000,3.000000,93.000000,5.760000,93.000000,0.100000,1589.827130,1.293523e+06,3.300000,3.300000,0.677000,12.400000
75%,2012.000000,223.750000,18.000000,7.590000,420.579613,97.000000,340.750000,56.675000,23.750000,97.000000,7.325000,97.000000,0.700000,5877.876780,6.863157e+06,7.100000,7.200000,0.776000,14.200000
max,2015.000000,723.000000,1800.000000,15.520000,18961.348600,99.000000,212183.000000,82.800000,2500.000000,99.000000,17.600000,99.000000,50.300000,114293.843300,1.293859e+09,27.700000,28.600000,0.936000,20.400000

In [140]:
test["Hepatitis B"].fillna( method ='ffill', inplace = True)
test["Alcohol"].fillna( method ='ffill', inplace = True)
test["Adult Mortality"].fillna( method ='ffill', inplace = True)
test["Polio"].fillna( method ='ffill', inplace = True)
test["Total expenditure"].fillna( method ='ffill', inplace = True)
test["GDP"].fillna( method ='ffill', inplace = True)
test["Population"].fillna( method ='ffill', inplace = True)
test["Schooling"].fillna( method ='ffill', inplace = True)
test["Income composition of resources"].fillna( method ='ffill', inplace = True)
#test["Life expectancy "].fillna( method ='ffill', inplace = True)
test["Diphtheria "].fillna( method ='ffill', inplace = True)
test[" thinness 5-9 years"].fillna( method ='ffill', inplace = True)
test[" thinness  1-19 years"].fillna( method ='ffill', inplace = True)
test[" BMI "].fillna( method ='ffill', inplace = True)
test.describe()

,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,881.000000,8.810000e+02,882.000000,882.000000,881.000000,881.000000
mean,2007.362812,164.197279,28.442177,4.554649,655.334688,80.580499,2277.861678,38.829252,38.791383,82.261905,5.906020,82.085034,1.697506,7233.635033,1.232042e+07,4.858730,4.900907,0.620454,11.936322
std,4.686772,122.036157,118.872501,3.999232,1758.631436,26.101800,11349.650108,20.331346,161.185934,23.999633,2.510497,24.344403,5.074661,14111.942912,7.775354e+07,4.555131,4.624531,0.216202,3.297475
min,2000.000000,1.000000,0.000000,0.010000,0.000000,2.000000,0.000000,1.000000,0.000000,3.000000,0.370000,2.000000,0.100000,3.685949,1.230000e+02,0.100000,0.100000,0.000000,0.000000
25%,2003.000000,77.000000,0.000000,0.960000,2.280943,77.000000,0.000000,19.000000,0.000000,78.000000,4.262500,78.000000,0.100000,422.146157,1.891940e+05,1.600000,1.600000,0.487000,10.100000
50%,2007.000000,144.000000,3.000000,3.615000,60.078888,93.000000,12.000000,44.150000,3.000000,93.000000,5.760000,93.000000,0.100000,1589.827130,1.293523e+06,3.300000,3.300000,0.677000,12.400000
75%,2012.000000,223.750000,18.000000,7.590000,420.579613,97.000000,340.750000,56.675000,23.750000,97.000000,7.325000,97.000000,0.700000,5877.876780,6.863157e+06,7.100000,7.200000,0.776000,14.200000
max,2015.000000,723.000000,1800.000000,15.520000,18961.348600,99.000000,212183.000000,82.800000,2500.000000,99.000000,17.600000,99.000000,50.300000,114293.843300,1.293859e+09,27.700000,28.600000,0.936000,20.400000

In [130]:
test = test.drop(["Country", "Status"], axis=1)
test.head()

KeyError: "['Country', 'Status'] not found in axis"

In [144]:
test = test.fillna(0)

In [145]:
test_norm = pd.DataFrame(scaler.transform(test))
test_norm.columns = test.columns
#test_norm.dropna()

In [146]:
#print(test_norm.columns)
#print(df_norm.columns)

In [147]:
test_norm.head()

,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,0.800000,0.020950,0.013333,0.493281,0.000000,0.081633,0.000301,0.775320,0.011667,0.937500,0.997589,0.947917,0.000000,-0.000014,-2.882135e-08,0.021898,0.017606,0.000000,0.000000
1,0.000000,0.307263,0.000000,0.114222,0.001605,0.989796,0.000000,0.044237,0.000000,0.916667,0.194093,0.062500,0.000000,0.002303,6.876341e-04,0.153285,0.137324,0.718354,0.632850
2,0.600000,0.349162,0.008889,0.326988,0.002120,0.989796,0.000000,0.484284,0.008750,0.645833,0.363472,0.645833,0.037624,0.005594,8.351858e-04,0.145985,0.140845,0.491561,0.410628
3,0.400000,0.174581,0.015556,0.071669,0.005314,0.826531,0.000186,0.664726,0.014167,0.062500,0.311031,0.062500,0.000000,0.006992,5.828957e-03,0.178832,0.165493,0.724684,0.574879
4,0.733333,0.335196,0.027778,0.007839,0.001654,0.755102,0.004225,0.189756,0.038750,0.010417,0.362266,0.750000,0.011881,0.003138,1.495830e-03,0.051095,0.042254,0.340717,0.231884

In [148]:
y_pred = model.predict(test_norm)

In [151]:
np.savetxt(X = y_pred, fname='Predicted.csv', delimiter=',', fmt='%.1f')